.jumbotron {
background-image: url("../images/hometown.jpg");
height: 260px;
background-size: cover; 

}

.jumbotronoffset {
	text-align:right;
    padding-right: 10px;

}






/*.img-rounded {
	border-radius: 26px;
}
*/